*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(40, 40, 40, 0.9);;
	align-items: center;
	justify-content: center;
	padding: 0px 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav {
	width: 75%;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


nav ul {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	min-width: 25%;	
}

nav ul li {
	list-style: none;
    margin: 0 12px;	
    display: flex;
}

nav ul li a {
	font-size: 15px;
	color: #fff;
	text-decoration: none;
}

nav ul li:hover {
	border-bottom: 1px solid #97EB97;
}

.contenedor-principal {
	width: 75%;
	margin: auto;
}

.banner {
	width: 100%;
	height: 100vh;
	background-color: rgb(49, 62, 97, .4);
	display: flex;
	align-items: center;
	justify-content: center;
}

.div-banner {
	font-size: 2.5em;
	text-align: center;
	color: #fff;
	font-family: cursive;
}

.div-banner p{
	font-size: 0.8em;
}

.body {
	background-color: #EFF6EE;
	padding: 20px;
}

section {
	padding: 80px 0;
  	overflow: hidden;px;
}

.contenedor-productos {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 50px;
	row-gap: 50px;
	justify-content: center;
	justify-items: center;
	align-content: start;
}

.contenedor-pedidos {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 50px;
	justify-content: center;
	justify-items: center;
	align-content: start;
}

section h1 {
	font-size: 32px;
	font-weight: bold;
	font-family: cursive;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

.contenedor-pedidos .etiqueta{
	width: 400px !important;
}

.etiqueta {
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	max-height: 800px;
	max-width: 500px;
	cursor: pointer;
	overflow: hidden;
}

.etiqueta div {;
	padding: 16px;
	max-height: 150px;
    text-align: justify;
    margin: 10px 0px;
}

.etiqueta div p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: block;	
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.etiqueta img {
    with: 100%;
    height: auto;
}

.etiqueta:hover {
	transition: 0.5s;
	background-color: #f4f4f4;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);	
}

.etiqueta div:hover {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #ccc transparent;
}

.div-contacto {
	padding: 20px;
}

footer {
	height: 120px;
	color: #fff;
	padding: 0px 10px;
	background-color: rgba(40, 40, 40);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.footer {
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer div {
	min-width: 150px;
}

.footer .detalles ul li {
	list-style: none;
}

.footer .redes {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.footer .redes a{
	font-size: 15px;
	color: #fff;
	text-decoration: none;
}

@media (max-width: 1740px){
	.contenedor-pedidos{ grid-template-columns: repeat(2, 1fr); justify-items: center;}
}

@media(max-width: 1546px){
	.contenedor-principal{width: 90%}
	.footer {width: 90%;}
	nav {width: 90%;}
}

@media(max-width: 1248px){
	.contenedor-principal{width: 100%}
	.footer {width: 100%;}
	nav {width: 100%;}
}

@media (max-width: 1100px) {
	.contenedor-productos{ grid-template-columns: repeat(1, 1fr); justify-items: center;}
}

@media (max-width: 940px) {
	.contenedor-pedidos{ grid-template-columns: repeat(1, 1fr); justify-items: center;}
}

@media (max-width: 600px) {
	.etiqueta{ max-width: 350px;}
	.div-banner{font-size: 1.5em; }
}

@media (max-width: 427px){
	.navbar ul{display: none;}
}